/node_modules/
.vscode
/angular-client/dist
/angular-client/e2e
/angular-client/node_modules
/angular-client/.dockerignore
/angular-client/.editorconfig

/express-client/node_modules
/express-client/dist
/express-client/e2e
/express-client/node_modules
/express-client/.dockerignore
/express-client/.editorconfig