<div class="container">
  <h4>Add new project</h4>
  <form #projectForm="ngForm" (ngSubmit)="addProject(projectForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="projectService.selectedProject._id">
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" class="form-control" name="name" #name="ngModel"
        [(ngModel)]="projectService.selectedProject.name" required
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; projectForm.controls.name.errors }">
      <div *ngIf="submitted &amp;&amp; projectForm.controls.name.errors" class="text-danger">
        <div *ngIf="projectForm.controls.name.errors.required">Project Name is required</div>
      </div>
    </div>

    <mat-form-field>
      <label for="deadline">Deadline</label>
      <input matInput [matDatepicker]="deadline" type="datetime" class="form-control" name="deadline" #name="ngModel"
        [(ngModel)]="projectService.selectedProject.deadline" required
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; projectForm.controls.deadline.errors }">
      <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
      <mat-datepicker #deadline></mat-datepicker>

      <div *ngIf="submitted &amp;&amp; projectForm.controls.deadline.errors" class="text-danger">
        <div *ngIf="projectForm.controls.deadline.errors.required">Deadline</div>
      </div>
    </mat-form-field>
    <div class="form-group">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Client" [(ngModel)]="projectService.selectedProject.client">
    </mat-form-field>
    </div>

    <div class="car-action">
      <div class="input-field col s12">
        <button class="btn">Save</button>
        <button class="btn right" (click)="resetForm(projectForm)">Clean</button>

      </div>
    </div>
  </form>
</div>
